<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.16/require.min.js" data-main="main.js"></script>
</head>
<body>
    <div ng-app="streaming-knife">
        <div ng-controller="TextArea as vm">
            <h1>{{vm.title}}</h1>
            <div>
                <textarea rows="5" cols="25" ng-model="vm.data" ng-change="vm.writing()"></textarea>
            </div>
            <button ng-click="vm.send()">Send</button>
        </div>

        <div ng-controller="Inbox as vm">
            <h2>{{vm.message}}</h2>
        </div>
    </div>
</body>
</html>
