<!DOCTYPE html>
<html ng-app="marketing-questions">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Marketing Questions</title>
    <script data-require="angular.js@*" data-semver="1.3.1" src="//code.angularjs.org/1.3.1/angular.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-busy/4.1.2/angular-busy.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/angular-busy/4.1.2/angular-busy.css" rel="stylesheet">

    <!--<script data-main="scripts/marketing-questions/app" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.16/require.js"></script>-->

    <script src="Scripts/marketing-questions/app.js"></script>
    <script src="Scripts/marketing-questions/main-controller.js"></script>

    <link href="Content/marketing-questions/style.css" rel="stylesheet" />
</head>
<body>
    <div class="main" ng-controller="MainController">
        <h1>{{title}}</h1>
        <div cg-busy="promise"></div>
        <ul ng-repeat="question in questions">
            <li>
                <div>
                    {{question.Text}} <small>type: {{question.Type}}</small>
                    <div class="answers">
                        <ul ng-repeat="answer in question.Answers">
                            <li>{{answer.Text}}</li>
                        </ul>
                    </div>
                    <div><span>Question <b>{{question.Order}}</b> of {{questions.length}}</span></div>
                    <div><button ng-click="next(question.Id)">Next</button></div>
                    <div><a href="" ng-click="skip(question.Id)">Skip</a></div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
