body {
    font-family: sans-serif;
}

.main {
    background-color: #eee;
    padding: 0.5em;
    float: left;
}

.answers {
    background-color: #ddd;
    padding: 0.5em;
}

.widget {
    background-color: #efe;
    padding: 0.5em;
    float: left;
}

.question-heading, .question-text, .question-control, .question-footer, .question-no-more {
    padding: 0.25em;
}
